{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/information.css">
{% endblock %}

{% block title %}
	Admin - Information
{% endblock %}

{% block content %}
	<main class="container py-lg-5 px-lg-5 py-3 px-3">

		<header class="admin-header d-flex justify-content-lg-between flex-lg-row align-items-lg-center flex-column px-lg-5 mb-lg-5 mb-3">
			<h1 class="text-center h1">Gérer les informations</h1>
			<a href="/adminInformation/add" class="btn btn-primary mt-3 mt-lg-0">Ajouter une information</a>
		</header>

		{# <table class="table table-hover bg-light">
											<thead>
												<tr>
													<th class="col-2 text-center">DATE</th>
													<th class="col-8 text-center">INFORMATION</th>
												</tr>
											</thead>
											<tbody>
												{% for information in informations %}
													<tr>
														<td class="text-center align-middle">{{ information.date }}</td>
														<td class="text-left align-middle">{{ information.content }}</td>
								                        <td class='w-100'>
															<a class="btn btn-primary btn-sm w-auto" href="/adminInformation/edit/{{ information.id }}">Modifier</a>
															<form method="POST" onSubmit="return confirm('Voulez vous supprimer ?');" action="/adminInformation/delete/{{information.id}}">
																<button class="btn btn-danger btn-sm w-auto">Supprimer</button>
															</form>
														</td>
								                    </tr>
												{% else %}
													<li>Nothing to display</li>
												{% endfor %}
											</tbody>
										</table> #}

			{% for information in informations %}
				<div class="card mb-2">
					<div class="card-header">
						Alerte
					</div>
					<div class="card-body">
						<h5 class="card-title">{{ information.date }}</h5>
						<p class="card-text">{{ information.content }}</p>
						<a href="#" class="btn btn-primary">Modifier</a>
						<a href="#" class="btn btn-danger">Supprimer</a>
					</div>
				</div>
			{% else %}
				<li>Nothing to display</li>
			{% endfor %}

		<footer class="admin-footer d-flex justify-content-center flex-md-row flex-column mt-lg-5 mt-3">
			<a href="#" class="btn btn-primary btn-lg mx-1 my-1">Retour au site principal</a>
			<a href="/Admin/home" class="btn btn-primary btn-lg mx-1 my-1">Accueil Admin</a>
		</footer>
	</main>
{% endblock %}
