{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Activité: {{ activity.name }}</h1>
    <p>{{ activity.id }}. {{ activity.name }}</p>
    <a href="/AdminActivity/edit/{{ item.id }}">Edit</a>
    <form action="/AdminActivity/delete/{{item.id}}" method="POST">
        <button>Delete</button>
    </form>
    <a href="/AdminActivity/index">Back</a>
{% endblock %}
