{% extends 'layout.html.twig' %}

{% block title %} Activités | Le temps des loisirs{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/activity.css">
{% endblock %}


{% block content %}
<main class="container">

    <h1 class="h1 text-align">Toutes nos activités</h1>

    <div class="row d-flex justify-content-around flex-nowrap">   {# A retravailler#}
            {% for day in constant('App\\Controller\\AdminActivityController::DAYS' ) %}
                <div class ="col">
                    <a class="btn btn-primary" href="#" role="button"> {{ day }}</a> 
                </div>
            {% endfor %}
    </div>



    {% for activity in activities %}
        <h2>{{ activity.weekday }}</h2>
            <div class="card d-flex flex-row align-items-center">
<img src="{{activity.image}}" class="card-img-top m-4 ratio" alt="{{activity.name}}">

                <div class="card-body d-flex justify-content-between">
                    <div class = "card-info">
                        <h3>{{activity.name}}</h3>
                        <p class="card-text"> avec <strong>{{activity.instructor_name}}</strong></p>
                    </div>
                    <div class = "card-time align-self-end">
                        <p class = "activity-time">{{activity.start_time}}h</p>
                    </div>
                </div>
            </div>
    {% endfor %}

</main>
{% endblock %}

