{% extends 'layout.html.twig' %}

{% block title %} Activités | Le temps des loisirs{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/activity.css">
{% endblock %}


{% block content %}
<main class="container">

    <h1 class="h1 text-align my-lg-5 my-3">Toutes nos activités</h1>

    {# Center text inside buttons#}

    <div id="list-weekday" class="row list-group d-flex flex-row justify-content-around">
        {% for day in constant('App\\Controller\\AdminActivityController::DAYS' ) %}
            <div class="col">
                <a class="list-group-item list-group-item-action btn btn-primary" href="#{{day}}">
                    {{ day }}
                </a>
            </div>
        {% endfor %}
    </div>


<section data-bs-spy="scroll" data-bs-target="#list-weekday" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    {% for activity in activities %}
        <h2 id="{{activity.weekday}}" class="h2 my-lg-5 my-3 mx-3">{{ activity.weekday }}</h2>
            <div class="card d-flex flex-row align-items-center">
                {% if activity.image %}
                    <img src="{{activity.image}}" class="card-img-top m-4 ratio" alt="{{activity.name}}">
                {% else %}
                {#FIX ALTERNATIVE IMAGE PATH#}
                    <img src="/public/assets/images/no-img.png" class="card-img-top m-4 ratio" alt="L'image n'existe pas">
                {% endif %}

                <div class="card-body d-flex justify-content-between">
                    <div class = "card-info">
                        <h3>{{activity.name}}</h3>
                        <p class="card-text"> avec <strong>{{activity.instructor_name}}</strong></p>
                        <p class="card-subtitle"><em>{{activity.description}}</em></p>
                    </div>
                    <div class = "card-time align-self-end">
                        <p class = "activity-time">{{activity.start_time}}h</p>
                    </div>
                </div>
            </div>
    {% endfor %}

{{ dump(activities)}}
</section>


    <h2>Les Photos</h2>


</main>
{% endblock %}

