{% extends 'layout.html.twig' %}
{% block title %}Les Temps des Loisirs | Évènements
{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/event.css">
		<link rel="stylesheet" href="/assets/css/admin.css">
		<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}
	<main class="container-fluid p-0 eventMain">


		<h1 class="text-uppercase text-center">Tous Nos évènements</h1>
		<div class="bg-eventCards">
			<section class="container d-flex justify-content-between flex-wrap">

				<div class="flip-card">

					<div class="flip-card-inner">
						<div class="flip-card-front bg-front-1">
							<h3>Bingo</h3>

						</div>
						<div class="flip-card-back">
							<h3>Bingo</h3>
							<p>On fait de bingo reguliérment entre les adhérents et ses familles. Ce jeu, permettant de gagner des prix est très populaire entre notres adhérents.
							</p>
						</div>
					</div>
				</div>

				<div class="flip-card">
					<div class="flip-card-inner">
						<div class="flip-card-front bg-front-2">
							<h3>Voyages</h3>
						</div>
						<div class="flip-card-back">
							<h3>Voyages</h3>
							<p>Le temps des loisirs a pour but de regrouper les passionnés de voyage afin de favoriser, entre les adhérents, les échanges de vécu et d'informations pratiques sur leurs voyages, de mettre en commun ces éléments, et de faciliter ainsi la préparation d'un prochain voyage.

							</p>
						</div>
					</div>
				</div>

				<div class="flip-card">
					<div class="flip-card-inner">
						<div class="flip-card-front bg-front-3">
							<h3>Sorties</h3>
						</div>
						<div class="flip-card-back">
							<h3>Sorties</h3>
							<p>Nous favorisons des départs réguliers parmi les membres et les sorties sont ouvertes à tous les adhérents, cependant certaines d'entre elles sont plus particulièrement destinées aux débutants.
							</p>
						</div>
					</div>
				</div>

			</section>
		</div>

		<section class="container text-uppercase text-center mb-5 mt-5">
			<h2 class="m-5">Calandrier</h2>

			<div
				class="currentDateTitle">
	 
				{#To be changed dynamically #}
				<h4
					class="m-1 p-1">
					 {% for key, month in constant('App\\Model\\EventManager::MONTHS' ) %}
				
					{% if key == 'now'|date("m") %}
						<span style="color: var(--secondary-color);">{{ month }}</span>
					{% endif %}
					
					{% endfor %}

					| 
					{{'now'|date("Y")}}</h4>


			</div>

			{# Start Loop Event Card #}
			{% for event in events %}
				{% if event.start_date|date("m") == 'now'|date("m") and event.start_date|date("d/m/Y") >= 'now'|date("d/m/Y")  %}
					<div class="row eventInfo p-3 mb-3 mt-4 shadow">
						<div class="col-sm  mt-1">
							<h5>Quand?</h5>
							<span class="mb-2">
								<strong>{{ event.start_date|date("d/m/Y") }}</strong>
								{% if event.end_date is not null and event.end_date != event.start_date %}
									<span class="mb-2">jusqu'au
										<strong>{{event.end_date|date("d/m/Y") }}</strong>
									</p>
								{% endif %}
							</span>

						</div>
						<div class="col-sm  mt-1">
							<h5>Évènement</h5>
							<span class="mb-2">
								{{ event.name }}
							</span>
						</div>
						<div class="col-sm  mt-1">
							<h5>Prix</h5>
							<span class="mb-2">€{{ event.price }}
							</span>
						</div>
						<div class="col-sm  mt-1">
							<h5>Description</h5>
							<span class="mb-2">{{ event.description }}
							</span>
						</div>
					</div>

				{% endif %}
			{% endfor %}
			{# End Loop Event Card #}

			 {# The month filter goes here #}
		

		<section class="container mb-5 mt-5 p-0 ">
			<h2 class="text-uppercase text-center m-5">Derniers Évènements</h2>

			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner eventCarousel">
					<div class="carousel-item active">
						<img src="http://tempsdesloisirs45590.fr/regard10/Documents_Communs/_pageWeb/image/photogroupe/italie_mai18.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="http://tempsdesloisirs45590.fr/regard10/Documents_Communs/_pageWeb/image/photogroupe/tyrol_11sept17_swaroski.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="http://tempsdesloisirs45590.fr/regard10/Documents_Communs/_pageWeb/image/photogroupe/tyrol_11sept17_innsbruck.jpg" class="d-block w-100" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>

	</main>

{% endblock %}
