{% extends 'layout.html.twig' %}

{% block title %}
	Tous les informations | Le temps des loisirs
{% endblock %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
	<main class="container informationTable">
		<h1 class="fw-bold">Toutes les informations:</h1>

		<table class="table table-hover mt-5">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Information</th>
				</tr>
			</thead>
			<tbody>
				{% for information in informations %}
					<tr>
						<th scope="row">{{information.id}}</th>
						<td>{{information.date|date("d/m/Y") }}</td>
						<td>
							<span class="p-1 fw-bold text-white {{information.type}}-color">{{ constant('App\\Controller\\AdminInformationController::LAST_INFORMATIONS')[information.type] }}</span>
						</td>
						<td>{{information.content}}</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</main>
{% endblock %}
