<form action="" method="POST">

	{% if errors is defined %}
		{% for error in errors %}
			<div class="alert alert-danger col col-lg-6 col-md-12 mx-auto" role="alert">{{ error }}</div>
		{% endfor %}
	{% endif %}

	<div class="form-row mt-sm-0 px-xs-0 py-sm-0">

		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<label for="name" class="col-sm-6 col-form-label col-form-label-lg">Nom de l'évènement</label>
			<input type="text" value="{{ event.name }}" class="form-control shadow-sm p-3 mb-1 bg-white rounded" id="name" name="name" placeholder="Voyage à Nice" required>
			<div id="nameHelp" class="form-text">Veuillez entrer un nom pour l'évènement</div>
		</div>

		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<label for="start_date" class="col-sm-6 col-form-label col-form-label-lg">Date de début</label>
			<input type="date" value="{{ event.start_date }}" class="form-control shadow-sm p-3 mb-1 bg-white rounded" id="start_date" name="start_date" placeholder="16/06/2022" required>
			<div id="startDateHelp" class="form-text">Veuillez entrer une date de début pour l'évènement</div>
		</div>

		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<label for="end_date" class="fcol-sm-6 col-form-label col-form-label-lg">Date de fin</label>
			<input type="date" value="{{ event.end_date }}" class="form-control shadow-sm p-3 mb-1 bg-white rounded" id="end_date" name="end_date" placeholder="30/06/2022" required>
			<div id="endDateHelp" class="form-text">Veuillez entrer une date de fin pour l'évènement</div>
		</div>

		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<label for="price" class="col-sm-6 col-form-label col-form-label-lg">Prix</label>
			<input type="number" value="{{ event.price }}" class="form-control shadow-sm p-3 mb-1 bg-white rounded" id="price" name="price" min="0" placeholder="460€">
			<div id="priceHelp" class="form-text">Veuillez entrer un prix pour l'évènement</div>
		</div>

		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<label for="image" class="col-sm-6 col-form-label col-form-label-lg">Image</label>
			<input type="text" value="{{ event.image }}" class="form-control shadow-sm p-3 mb-1 bg-white rounded" id="image" name="image" placeholder="https://www.tempsdesloisirs/event.png">
			<div id="imageHelp" class="form-text">Veuillez entrer un lien vers l'image que vous souhaitez afficher</div>
		</div>


		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<label for="description" class="col-sm-6 col-form-label col-form-label-lg">Description</label>
			<textarea class="form-control shadow-sm p-3 mb-1 bg-white rounded" name="description" id="description" placeholder="Description de l'évènement">{{ event.description }}</textarea>
			<div id="descriptionHelp" class="form-text mb-3">Veuillez entrer une brève description de l'évènement proposé, afin d'aider vos membres à comprendre de quoi il s'agit</div>
		</div>

		<div class="form-group col col-lg-6 col-md-12 mx-auto">
			<button class="btn btn-primary btn-lg w-100" value="valider">{{ buttonName|default("Ajouter l'évènement") }}</button>
		</div>

	</div>

</form>
