<ul>
    {%- for error in errors -%}
        <li class="alert alert-danger list-unstyled empty">{{ error }}</li>
    {%- endfor -%}
</ul>

<form method="post" action="" class="w-50 align-self-center d-flex flex-column">
            <!-- Name-->
            <div class="mb-3">
                <label for="activityName" class="form-label">Activité :</label>
                <input type="text" class="form-control" name ="name" value="{{ activity.name }}" id="activityName" aria-describedby="nameHelp" checked="checked" required>
                <div id="nameHelp" class="form-text">Veuillez entrer le nom de l'activité proposée (exemple: Dictée).</div>
            </div>
            <!--Weekdays-->
            <div class="mb-3 row">                
                <label for="weekday" class="form-label">Jour de la semaine :
                </label>
                    <div class= "d-flex justify-content-between">
                    {# Loop sur les jours #}
                        {% for day in constant('App\\Controller\\AdminActivityController::DAYS' ) %}
                        <div class="form-check">
                                <input class="form-check-input" value="{{activity.weekday}}" type="radio" name="weekday" id="weekday" checked required>
                                <label class="form-check-label" for="weekday">
                                    {{day}}
                                </label>
                        </div>
                        {% endfor %}
                    </div>
            </div>
                
                
            <!--Instructor-->
            <div class="mb-3">
                <label for="instructor_name" class="form-label">Moniteur :</label>
                <input type="text" class="form-control" id="instructor_name" name="instructor_name" value="{{activity.instructor_name}}" aria-describedby="instructorHelp" required>
                <div id="instructorHelp" class="form-text">Veuillez entrer le nom de la personne qui anime cette activité (exemple: Didier Raoult).</div>
            </div>

            <!--Start time-->
            <div class="row mb-3">
                <div class="col">
                    <label for="start_time" class="form-label">Heure de début :</label>
                    <input type="time" class="form-control" id="start_time" name="start_time" value="{{activity.start_time}}" aria-describedby="startTimeHelp">
                    <div id="statTimeHelp" class="form-text">Veuillez entrer l'heure à laquelle commence cette activité.</div>
                </div>
                <!--End time-->
                <div class="col">
                    <label for="end_time" class="form-label">Heure de fin :</label>
                    <input type="time" class="form-control" id="end_time" name="end_time" value="{{activity.end_time}}" aria-describedby="endTimeHelp">
                    <div id="endTimeHelp" class="form-text">Veuillez entrer l'heure à laquelle termine cette activité.</div>
                </div>
            </div>
            <!--Image-->
            <div class="mb-3">
                <label for="image" class="form-label">Image :</label>
                <input type="url" class="form-control" id="image" name="image" value="{{activity.image}}" aria-describedby="imageHelp">
                <div id="imageHelp" class="form-text">Veuillez entrer un lien vers l'image que vous souhaitez afficher.</div>
            </div>

            <!--Description-->
            <div class="form-group mb-3">
                <label for="description">Description :</label>
                <textarea class="form-control" id="description" rows="3" name="description" aria-describedby="descriptionHelp">{{- activity.description -}}</textarea>
                <div id="descriptionHelp" class="form-text">Veuillez entrer une brève description de l'activité proposée, afin d'aider vos membres à comprendre de quoi il s'agit.</div>
            </div>

			<button type="submit" class="btn btn-primary w-100 align-self-center mb-3">{{ buttonName|default("Ajouter l'activité") }} </button>

        </form>