<form method="POST">

	{% if errors is defined %}
		{% for error in errors %}
			<div class="alert alert-danger col col-lg-6 col-md-12 mx-auto" role="alert">{{ error }}</div>
		{% endfor %}
	{% endif %}

	<div class="d-flex justify-content-center form-row">
		<div class="form-group col col-lg-1 col-md-12">
			<label class="col-sm-2 col-form-label col-form-label-lg" for="title">Civilité</label>
			<select class="form-control shadow-sm p-3 mb-1 bg-white rounded me-1" name="title" id="title" aria-label="Default select example">
				{% for title in constant('App\\Controller\\ContactController::TITLES') %}
					<option {% if title == data.title %} selected {% endif %} value="{{ title }}">{{ title }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group col col-lg-5 col-md-12">
			<label class="col-sm-2 col-form-label col-form-label-lg" for="lastname">Nom</label>
			<input class="form-control shadow-sm p-3 mb-1 bg-white rounded ms-1" value="{{ data.lastname }}" type="text" id="lastname" name="lastname" placeholder="Dubois" required>
		</div>
	</div>
	<div class="form-row mt-sm-0 px-xs-0 py-sm-0">
		<div class="justify-content-start">
			<div class="form-group col col-lg-6 col-md-12 mx-auto">
				<label class="col-sm-2 col-form-label col-form-label-lg" for="firstname">Prénom</label>
				<input class="form-control shadow-sm p-3 mb-1 bg-white rounded" value="{{ data.firstname }}" type="text" id="firstname" name="firstname" placeholder="Serge" required>
			</div>
			<div class="form-group col col-lg-6 col-md-12 mx-auto">
				<label class="col-sm-2 col-form-label col-form-label-lg" for="email">E-mail</label>
				<input class="form-control shadow-sm p-3 mb-1 bg-white rounded" value="{{ data.email }}" type="email" id="email" name="email" placeholder="sergedubois@gmail.com" required>
			</div>
			<div class="form-group col col-lg-6 col-md-12 mx-auto">
				<label class="col-sm-2 col-form-label col-form-label-lg" for="phone">Téléphone</label>
				<input class="form-control shadow-sm p-3 mb-1 bg-white rounded" value="{{ data.phone }}" type="tel" id="phone" name="phone" placeholder="0601020304" required>
			</div>
			<div class="form-group col col-lg-6 col-md-12 mx-auto">
				<label class="col-sm-2 col-form-label col-form-label-lg" for="message">Message</label>
				<textarea class="form-control shadow-sm p-3 mb-3 bg-white rounded" value="{{ data.message }}" id="message" name="message" placeholder="Votre message"></textarea>
			</div>

			<div class="form-group col col-lg-6 col-md-12 mx-auto">
				<button type="submit" class="btn btn-primary btn-lg w-100" value="Send">Soumettre</button>
			</div>
		</div>
	</div>

</form>
